.product-filer {
    display: flex;
    flex-wrap: nowrap !important;
    overflow: hidden;
}
/* Banner */
.banner-product-header {
    margin-bottom: 20px;
}

.bgr-banner-shop {
    background-image: url('../img/bg-grocery-4.jpg');
    padding-top: 210px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Content-filter */
.filter-product {
}
.row {
}
.col-md-3 {
}
.sidebar-area-wrap {
}
.product-filter {
}
.filter-category-name {
    border: 1px solid #ececec;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
    padding: 15px 20px;
    border-radius: 10px;
}

.filter-category-name h4,
.filter-brand-wrap h4 {
    position: relative;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 25px;
}

.filter-category-name h4::after,
.filter-brand-wrap h4::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 20%;
    background-color: rgb(93, 168, 138);
    height: 2px;
}

.filter-category-name h4::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 0%;
    background: linear-gradient(to right, #ff6fe0, #81ffb1);
    height: 2px;
    transition: width 0.3s;
}

.product-category-item:hover .filter-category-name h4::before {
    width: 80%;
}

.product-category {
}
.product-category-list {
    padding: 0;
    margin: 0;
}
.product-category-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* line-height: 48px; */
    border-radius: 5px;
    border: 1px solid #f2f3f4;
    padding: 9px 18px;
    margin: 0 0 15px 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
}
.product-category-link {
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    line-height: 1.5;
    color: black;
    font-size: 15px;
    font-weight: 500;
}
.sidebar-widget {
}
.widget-category {
}
.price-slider {
    border: 1px solid #ececec;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
    padding: 15px 20px;
    margin-top: 20px;
    border-radius: 10px;
}
.price-ranger {
    padding: 0 10px;
}

.price-ranger h4 {
    margin-bottom: 20px;
}

.filter-price {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.btn-filter-price {
    outline: none;
    border: none;
    padding: 2px 10px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #eed0ea;
    color: rgb(0, 0, 0);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.show-value-range {
}
.min_ {
}
.max_ {
}
.filter-brand-wrap {
    border: 1px solid #ececec;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
    padding: 15px 20px;
    border-radius: 10px;
    margin-top: 20px;
}
.brand-name {
}
.list-brand {
    margin: 0;
    padding: 0;
}
.brand-name-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    padding: 9px 18px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    font-size: 16px;
    font-weight: 500;
}

.brand-name-item input {
    margin-right: 10px;
}

.product-content-area {
}
.shop-product-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    /* background-color: #eed0ea; */
}
.total-product p {
    padding: 0;
    margin: 0;
    color: var(--color-bgr);
}
.sort-by-product-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sort-by-cover {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sort-by-cover_left {
    position: relative;
}
.sort-by-cover_right {
    margin-left: 20px;
    position: relative;
}

.sort-by {
}

.sort-by-dropdown-quantity {
    /* display: none; */
    position: absolute;
    background-color: white;
    border-radius: 5px;
    top: 150%;
    left: 0;
    min-width: 100%;

    z-index: 10;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.sort-by-dropdown-quantity ul {
    margin: 0;
    padding: 10px 10px;
}
/* .sort-by-cover:hover .sort-by-dropdown-quantity {
    display: block;
} */
.sort-by-product-atribute {
    padding-right: 45px;
}
.sort-by-dropdown-atribute {
    /* display: none; */
    position: absolute;
    background-color: white;
    border-radius: 5px;
    top: 150%;
    left: 0;
    min-width: 100%;
    z-index: 10;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.atribute-list {
    margin: 0;
    padding: 10px 10px;
}
.atribute-item {
}
